#Color {    width:422px;    height:248px;    padding:10px;    background-color:#f4f4f4;    border:#ccc 1px solid}
#Color .Color_left {    float:left;    clear:left}
#Color .Color_tr {    clear:both}
#Color .Color_td_L,#Color .Color_td_R {    cursor:pointer}
#Color .Color_tr .select {    width:14px;    height:14px;    border:1px solid #000}
#Color .Color_td_L {
    float:left;
    width:14px;
    height:14px;
    overflow:hidden
}
#Color .Color_td_R {
    width:25px;
    height:4px;
    overflow:hidden;
    margin:auto
}
#Color .Color_back,#Color .Color_text {
    margin-top:4px
}
#Color .Color_back {
    width:60px;
    height:18px;
    overflow:hidden;
    border:#000 1px solid;
    cursor:pointer;
    float:right;
    margin-left:5px;
    margin-right:2px
}
#Color .Color_text {
    font-size:14px;
    width:70px;
    border:1px solid #e3e3e3;
    float:right;
    height:18px
}